<mat-toolbar class="header" *ngIf="!(hideContainer$ | async)">
  <h2>{{ title$ | async }}</h2>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="avatar-button">
    <span class="avatar">{{ nome.substring(0, 2).toUpperCase() }}</span>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
    <button mat-menu-item (click)="filaDeConferencia()">
      <mat-icon>view_list</mat-icon>
      <span>Fila de Conferência</span>
    </button>
    <button *ngIf="isAdmin" mat-menu-item (click)="usuario()">
      <mat-icon>person_search</mat-icon>
      <span>Consultar Usuários</span>
    </button>
    <button *ngIf="isAdmin" mat-menu-item (click)="redefinirUsuario()">
      <mat-icon>person_shield</mat-icon>
      <span>Redefinir Usuários</span>
    </button>
  </mat-menu>
</mat-toolbar>
