<div class="filtros-container grid" [formGroup]="filters">
  <mat-form-field appearance="outline" class="xs-12 sm-12 md-8 lg-8 xl-10">
    <mat-label>E-mails</mat-label>

    <mat-chip-grid #chipGrid>
      <mat-chip-row
        *ngFor="let email of emails"
        (removed)="removerEmail(email)"
      >
        {{ email }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>

      <input
        placeholder="Digite o e-mail e pressione Enter"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="[13, 188]"
        (matChipInputTokenEnd)="adicionarEmail($event)"
      />
    </mat-chip-grid>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="redefinirAtivarLote()"
    class="xs-12 sm-12 md-4 lg-4 xl-2"
  >
    Redefinir Senha e Ativá-los
  </button>
</div>
