<!-- Filtros reorganizados em 3 linhas -->
<div class="filtros-container" [formGroup]="filters">
  <!-- Linha 1: Número Único, Número Nota, Data Início, Data Fim -->
  <div class="filtros-row">
    <mat-form-field appearance="outline">
      <mat-label>Número Único</mat-label>
      <input matInput formControlName="numeroUnico" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Número Nota</mat-label>
      <input matInput formControlName="numeroNota" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data Início</mat-label>
      <input
        matInput
        [matDatepicker]="pickerInicio"
        formControlName="dataInicio"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data Fim</mat-label>
      <input matInput [matDatepicker]="pickerFim" formControlName="dataFim" />
      <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
      <mat-datepicker #pickerFim></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Linha 2: Status, Tipo Operação, Tipo Movimento -->
  <div class="filtros-row">
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="codigoStatus" multiple>
        <mat-option *ngFor="let status of listStatus" [value]="status.codigo">
          {{ status.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo Operação</mat-label>
      <mat-select formControlName="codigoTipoOperacao" multiple>
        <mat-option [value]="null">Todos</mat-option>
        <mat-option
          *ngFor="let tipoOperacao of listTipoOperacao"
          [value]="tipoOperacao.codigo"
        >
          {{ tipoOperacao.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo Movimento</mat-label>
      <mat-select formControlName="codigoTipoMovimento" multiple>
        <mat-option [value]="null">Todos</mat-option>
        <mat-option
          *ngFor="let tipoMovimento of listTipoMovimento"
          [value]="tipoMovimento.codigo"
        >
          {{ tipoMovimento.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Linha 3: Empresa, Parceiro e Botões -->
  <div class="filtros-row">
    <mat-form-field appearance="outline">
      <mat-label>Empresa</mat-label>
      <input
        matInput
        formControlName="idEmpresa"
        [matAutocomplete]="autoEmpresa"
      />
      <mat-autocomplete
        #autoEmpresa="matAutocomplete"
        [displayWith]="displayEmpresa"
      >
        <mat-option *ngFor="let empresa of listEmpresa" [value]="empresa">
          {{ displayEmpresa(empresa) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Parceiro</mat-label>
      <input
        matInput
        formControlName="idParceiro"
        [matAutocomplete]="autoParceiro"
      />
      <mat-autocomplete
        #autoParceiro="matAutocomplete"
        [displayWith]="displayParceiro"
      >
        <mat-option *ngFor="let parceiro of listParceiro" [value]="parceiro">
          {{ displayParceiro(parceiro) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="botoes-container">
      <button mat-raised-button color="warn" (click)="onLimparCampos()">
        Limpar campos
      </button>
      <button mat-raised-button color="primary" (click)="applyFilter()">
        Pesquisar
      </button>
    </div>
  </div>
</div>

<!-- Tabela -->
<div class="table-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes" sticky>
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let e">
        <div class="acoes-container">
          <span
            matTooltip="{{ tooltipSeparar(e) }}"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button
              mat-icon-button
              (click)="onSeparar(e)"
              [disabled]="e.codigoStatus === 'F' || e.codigoStatus === 'D'"
            >
              <mat-icon fontSet="material-symbols-outlined">
                deployed_code
              </mat-icon>
            </button>
          </span>

          <span
            matTooltip="{{ tooltipImprimir(e) }}"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button
              mat-icon-button
              (click)="onImprimirEtiqueta(e)"
              [disabled]="e.codigoStatus !== 'F' && e.codigoStatus !== 'D'"
            >
              <mat-icon>print</mat-icon>
            </button>
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroUnico">
      <mat-header-cell *matHeaderCellDef>Nº Único</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroUnico }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroNota">
      <mat-header-cell *matHeaderCellDef>Nº Nota</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroNota }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroConferencia">
      <mat-header-cell *matHeaderCellDef>Nº Conferência</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroConferencia }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="valorNota">
      <mat-header-cell *matHeaderCellDef>Valor Nota</mat-header-cell>
      <mat-cell *matCellDef="let data"
        >{{ data.valorNota | currency: "BRL" : "symbol" : "1.2-2" : "pt-BR" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef>Volume</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.volume }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataMovimento">
      <mat-header-cell *matHeaderCellDef>Data Movimento</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        displayDate(data.dataMovimento)
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoStatus">
      <mat-header-cell *matHeaderCellDef>Código Status</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoStatus">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.descricaoStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoTipoMovimento">
      <mat-header-cell *matHeaderCellDef>Código Tipo Movimento</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoTipoMovimento }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoTipoMovimento">
      <mat-header-cell *matHeaderCellDef>Tipo Movimento</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.descricaoTipoMovimento
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoTipoOperacao">
      <mat-header-cell *matHeaderCellDef>Código Tipo Operação</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoTipoOperacao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoTipoOperacao">
      <mat-header-cell *matHeaderCellDef>Tipo Operação</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.descricaoTipoOperacao
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idEmpresa">
      <mat-header-cell *matHeaderCellDef>ID Empresa</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idEmpresa }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeEmpresa">
      <mat-header-cell *matHeaderCellDef>Empresa</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeEmpresa }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idParceiro">
      <mat-header-cell *matHeaderCellDef>ID Parceiro</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idParceiro }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeParceiro">
      <mat-header-cell *matHeaderCellDef>Parceiro</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeParceiro }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idVendedor">
      <mat-header-cell *matHeaderCellDef>ID Vendedor</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idVendedor }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeVendedor">
      <mat-header-cell *matHeaderCellDef>Vendedor</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeVendedor }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idUsuarioInclusao">
      <mat-header-cell *matHeaderCellDef>ID Usuário Inclusão</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idUsuarioInclusao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeUsuarioInclusao">
      <mat-header-cell *matHeaderCellDef>Usuário Inclusão</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeUsuarioInclusao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idUsuarioAlteracao">
      <mat-header-cell *matHeaderCellDef>ID Usuário Alteração</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idUsuarioAlteracao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeUsuarioAlteracao">
      <mat-header-cell *matHeaderCellDef>Usuário Alteração</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.nomeUsuarioAlteracao
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="total"
    [pageSize]="perPage"
    [pageSizeOptions]="[5, 10, 15, 25, 50]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
