<!-- Filtros -->
<div class="filtros-container grid">
  <mat-form-field appearance="outline" class="xs-12 sm-6 md-4 lg-3 xl-2">
    <mat-label>Status</mat-label>
    <mat-select
      [(ngModel)]="statusFilter"
      [ngModelOptions]="{ standalone: true }"
      (selectionChange)="onStatusChange($event.value)"
    >
      <mat-option [value]="undefined">Todos</mat-option>
      <mat-option *ngFor="let status of listStatus" [value]="status.codigo">
        {{ status.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-4 lg-3 xl-2">
    <mat-label>Número Modial</mat-label>
    <input
      matInput
      [(ngModel)]="numeroModialFilter"
      [ngModelOptions]="{ standalone: true }"
      (input)="applyFilter()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-4 lg-3 xl-2">
    <mat-label>Número Nota</mat-label>
    <input
      matInput
      [(ngModel)]="numeroNotaFilter"
      [ngModelOptions]="{ standalone: true }"
      (input)="applyFilter()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-4 lg-3 xl-2">
    <mat-label>Número Único</mat-label>
    <input
      matInput
      [(ngModel)]="numeroUnicoFilter"
      [ngModelOptions]="{ standalone: true }"
      (input)="applyFilter()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-4 lg-3 xl-2">
    <mat-label>Data Início</mat-label>
    <input
      matInput
      [matDatepicker]="pickerInicio"
      [(ngModel)]="dataInicioFilter"
      [ngModelOptions]="{ standalone: true }"
      (dateChange)="applyFilter()"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerInicio"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerInicio></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-4 lg-3 xl-2">
    <mat-label>Data Fim</mat-label>
    <input
      matInput
      [matDatepicker]="pickerFim"
      [(ngModel)]="dataFimFilter"
      [ngModelOptions]="{ standalone: true }"
      (dateChange)="applyFilter()"
    />
    <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
    <mat-datepicker #pickerFim></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-12 md-8 lg-6 xl-4">
    <mat-label>Parceiro</mat-label>
    <input matInput [formControl]="parceiroCtrl" [matAutocomplete]="auto" />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onParceiroSelected($event.option.value)"
    >
      <mat-option *ngFor="let parceiro of listParceiro" [value]="parceiro">
        {{ parceiro.nome }} - {{ parceiro.cpfCnpj }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-4 lg-3 xl-2">
    <mat-label>Tipo Movimento</mat-label>
    <mat-select
      [(ngModel)]="tipoMovimentoFilter"
      [ngModelOptions]="{ standalone: true }"
      (selectionChange)="onTipoMovimentoChange($event.value)"
    >
      <mat-option [value]="undefined">Todos</mat-option>
      <mat-option
        *ngFor="let tipoMovimento of listTipoMovimento"
        [value]="tipoMovimento.codigo"
      >
        {{ tipoMovimento.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-4 lg-3 xl-2">
    <mat-label>Tipo Operação</mat-label>
    <mat-select
      [(ngModel)]="tipoOperacaoFilter"
      [ngModelOptions]="{ standalone: true }"
      (selectionChange)="onTipoOperacaoChange($event.value)"
    >
      <mat-option [value]="undefined">Todos</mat-option>
      <mat-option
        *ngFor="let tipoOperacao of listTipoOperacao"
        [value]="tipoOperacao.codigo"
      >
        {{ tipoOperacao.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-4 lg-3 xl-2">
    <mat-label>Tipo Entrega</mat-label>
    <mat-select
      [(ngModel)]="tipoEntregaFilter"
      [ngModelOptions]="{ standalone: true }"
      (selectionChange)="onTipoEntregaChange($event.value)"
    >
      <mat-option [value]="undefined">Todos</mat-option>
      <mat-option
        *ngFor="let tipoEntrega of listTipoEntrega"
        [value]="tipoEntrega.codigo"
      >
        {{ tipoEntrega.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="warn"
    (click)="onLimparCampos()"
    class="xs-12 sm-6 md-4 lg-3 xl-2"
  >
    Limpar campos
  </button>
</div>

<!-- Tabela -->
<div class="table-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes" sticky>
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let e">
        <div class="acoes-container">
          <span
            matTooltip="{{ tooltipSeparar(e) }}"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button
              mat-icon-button
              (click)="onSeparar(e)"
              [disabled]="e.codigoStatus !== 'AC'"
            >
              <mat-icon fontSet="material-symbols-outlined">
                deployed_code
              </mat-icon>
            </button>
          </span>

          <span
            matTooltip="{{ tooltipImprimir(e) }}"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button
              mat-icon-button
              (click)="onImprimirEtiqueta(e)"
              [disabled]="e.codigoStatus !== 'F'"
            >
              <mat-icon>print</mat-icon>
            </button>
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroUnico">
      <mat-header-cell *matHeaderCellDef>numeroUnico</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroUnico }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroNota">
      <mat-header-cell *matHeaderCellDef>numeroNota</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroNota }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroModial">
      <mat-header-cell *matHeaderCellDef>numeroModial</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroModial }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="valorNota">
      <mat-header-cell *matHeaderCellDef>valorNota</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.valorNota }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef>volume</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.volume }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataMovimento">
      <mat-header-cell *matHeaderCellDef>dataMovimento</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.dataMovimento }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoStatus">
      <mat-header-cell *matHeaderCellDef>codigoStatus</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoStatus">
      <mat-header-cell *matHeaderCellDef>descricaoStatus</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.descricaoStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoTipoMovimento">
      <mat-header-cell *matHeaderCellDef>codigoTipoMovimento</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoTipoMovimento }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoTipoMovimento">
      <mat-header-cell *matHeaderCellDef
        >descricaoTipoMovimento</mat-header-cell
      >
      <mat-cell *matCellDef="let data">{{
        data.descricaoTipoMovimento
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoTipoOperacao">
      <mat-header-cell *matHeaderCellDef>codigoTipoOperacao</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoTipoOperacao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoTipoOperacao">
      <mat-header-cell *matHeaderCellDef>descricaoTipoOperacao</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.descricaoTipoOperacao
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoTipoEntrega">
      <mat-header-cell *matHeaderCellDef>codigoTipoEntrega</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoTipoEntrega }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoTipoEntrega">
      <mat-header-cell *matHeaderCellDef>descricaoTipoEntrega</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.descricaoTipoEntrega
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idEmpresa">
      <mat-header-cell *matHeaderCellDef>idEmpresa</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idEmpresa }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeEmpresa">
      <mat-header-cell *matHeaderCellDef>nomeEmpresa</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeEmpresa }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idParceiro">
      <mat-header-cell *matHeaderCellDef>idParceiro</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idParceiro }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeParceiro">
      <mat-header-cell *matHeaderCellDef>nomeParceiro</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeParceiro }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idVendedor">
      <mat-header-cell *matHeaderCellDef>idVendedor</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idVendedor }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeVendedor">
      <mat-header-cell *matHeaderCellDef>nomeVendedor</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeVendedor }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idUsuarioInclusao">
      <mat-header-cell *matHeaderCellDef>idUsuarioInclusao</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idUsuarioInclusao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeUsuarioInclusao">
      <mat-header-cell *matHeaderCellDef>nomeUsuarioInclusao</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeUsuarioInclusao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idUsuarioAlteracao">
      <mat-header-cell *matHeaderCellDef>idUsuarioAlteracao</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idUsuarioAlteracao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeUsuarioAlteracao">
      <mat-header-cell *matHeaderCellDef>nomeUsuarioAlteracao</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.nomeUsuarioAlteracao
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
