<!-- Filtros -->
<div class="filtros-container grid" [formGroup]="filters">
  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Status</mat-label>
    <mat-select
      formControlName="codigoStatus"
      (selectionChange)="applyFilter()"
      multiple
    >
      <mat-option *ngFor="let status of listStatus" [value]="status.codigo">
        {{ status.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Número Modial</mat-label>
    <input matInput formControlName="numeroModial" (input)="applyFilter()" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Número Nota</mat-label>
    <input matInput formControlName="numeroNota" (input)="applyFilter()" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Número Único</mat-label>
    <input matInput formControlName="numeroUnico" (input)="applyFilter()" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Data Início</mat-label>
    <input
      matInput
      [matDatepicker]="pickerInicio"
      formControlName="dataInicio"
      (dateChange)="applyFilter()"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerInicio"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerInicio></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Data Fim</mat-label>
    <input
      matInput
      [matDatepicker]="pickerFim"
      formControlName="dataFim"
      (dateChange)="applyFilter()"
    />
    <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
    <mat-datepicker #pickerFim></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Tipo Movimento</mat-label>
    <mat-select
      formControlName="codigoTipoMovimento"
      (selectionChange)="applyFilter()"
      multiple
    >
      <mat-option [value]="null">Todos</mat-option>
      <mat-option
        *ngFor="let tipoMovimento of listTipoMovimento"
        [value]="tipoMovimento.codigo"
      >
        {{ tipoMovimento.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Tipo Operação</mat-label>
    <mat-select
      formControlName="codigoTipoOperacao"
      (selectionChange)="applyFilter()"
      multiple
    >
      <mat-option [value]="null">Todos</mat-option>
      <mat-option
        *ngFor="let tipoOperacao of listTipoOperacao"
        [value]="tipoOperacao.codigo"
      >
        {{ tipoOperacao.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-12 md-6 lg-6 xl-4">
    <mat-label>Empresa</mat-label>
    <input
      matInput
      formControlName="idEmpresa"
      [matAutocomplete]="auto"
      (blur)="onEmpresaBlur()"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayEmpresa"
      (optionSelected)="onEmpresaSelected($event.option.value)"
    >
      <mat-option *ngFor="let empresa of listEmpresa" [value]="empresa">
        {{ displayEmpresa(empresa) }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-12 md-6 lg-6 xl-4">
    <mat-label>Parceiro</mat-label>
    <input
      matInput
      formControlName="idParceiro"
      [matAutocomplete]="auto"
      (blur)="onParceiroBlur()"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayParceiro"
      (optionSelected)="onParceiroSelected($event.option.value)"
    >
      <mat-option *ngFor="let parceiro of listParceiro" [value]="parceiro">
        {{ displayParceiro(parceiro) }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Tipo Entrega</mat-label>
    <mat-select
      formControlName="codigoTipoEntrega"
      (selectionChange)="applyFilter()"
      multiple
    >
      <mat-option [value]="null">Todos</mat-option>
      <mat-option
        *ngFor="let tipoEntrega of listTipoEntrega"
        [value]="tipoEntrega.codigo"
      >
        {{ tipoEntrega.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="warn"
    (click)="onLimparCampos()"
    class="xs-12 sm-6 md-3 lg-3 xl-2"
  >
    Limpar campos
  </button>
</div>

<!-- Tabela -->
<div class="spinner-container" *ngIf="loading">
  <div class="spinner"></div>
  <span>Carregando dados...</span>
</div>

<div class="table-container" *ngIf="!loading">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes" sticky>
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let e">
        <div class="acoes-container">
          <span
            matTooltip="{{ tooltipSeparar(e) }}"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button
              mat-icon-button
              (click)="onSeparar(e)"
              [disabled]="e.codigoStatus !== 'AC' && e.codigoStatus !== 'A'"
            >
              <mat-icon fontSet="material-symbols-outlined">
                deployed_code
              </mat-icon>
            </button>
          </span>

          <span
            matTooltip="{{ tooltipImprimir(e) }}"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button
              mat-icon-button
              (click)="onImprimirEtiqueta(e)"
              [disabled]="e.codigoStatus !== 'F'"
            >
              <mat-icon>print</mat-icon>
            </button>
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroUnico">
      <mat-header-cell *matHeaderCellDef>Nº Único</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroUnico }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroNota">
      <mat-header-cell *matHeaderCellDef>Nº Nota</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroNota }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroModial">
      <mat-header-cell *matHeaderCellDef>Nº Modial</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroModial }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroConferencia">
      <mat-header-cell *matHeaderCellDef>Nº Conferência</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.numeroConferencia }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="valorNota">
      <mat-header-cell *matHeaderCellDef>Valor Nota</mat-header-cell>
      <mat-cell *matCellDef="let data"
        >{{ data.valorNota | currency: "BRL" : "symbol" : "1.2-2" : "pt-BR" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef>Volume</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.volume }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataMovimento">
      <mat-header-cell *matHeaderCellDef>Data Movimento</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        displayDate(data.dataMovimento)
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoStatus">
      <mat-header-cell *matHeaderCellDef>Código Status</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoStatus">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.descricaoStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoTipoMovimento">
      <mat-header-cell *matHeaderCellDef>Código Tipo Movimento</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoTipoMovimento }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoTipoMovimento">
      <mat-header-cell *matHeaderCellDef>Tipo Movimento</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.descricaoTipoMovimento
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoTipoOperacao">
      <mat-header-cell *matHeaderCellDef>Código Tipo Operação</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoTipoOperacao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoTipoOperacao">
      <mat-header-cell *matHeaderCellDef>Tipo Operação</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.descricaoTipoOperacao
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigoTipoEntrega">
      <mat-header-cell *matHeaderCellDef>Código Tipo Entrega</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigoTipoEntrega }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoTipoEntrega">
      <mat-header-cell *matHeaderCellDef>Tipo Entrega</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.descricaoTipoEntrega
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idEmpresa">
      <mat-header-cell *matHeaderCellDef>ID Empresa</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idEmpresa }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeEmpresa">
      <mat-header-cell *matHeaderCellDef>Empresa</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeEmpresa }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idParceiro">
      <mat-header-cell *matHeaderCellDef>ID Parceiro</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idParceiro }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeParceiro">
      <mat-header-cell *matHeaderCellDef>Parceiro</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeParceiro }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idVendedor">
      <mat-header-cell *matHeaderCellDef>ID Vendedor</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idVendedor }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeVendedor">
      <mat-header-cell *matHeaderCellDef>Vendedor</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeVendedor }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idUsuarioInclusao">
      <mat-header-cell *matHeaderCellDef>ID Usuário Inclusão</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idUsuarioInclusao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeUsuarioInclusao">
      <mat-header-cell *matHeaderCellDef>Usuário Inclusão</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nomeUsuarioInclusao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idUsuarioAlteracao">
      <mat-header-cell *matHeaderCellDef>ID Usuário Alteração</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.idUsuarioAlteracao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeUsuarioAlteracao">
      <mat-header-cell *matHeaderCellDef>Usuário Alteração</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.nomeUsuarioAlteracao
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
