@use "../../../../../styles/spacing" as *;
@use "../../../../../styles/typography" as *;
@use "../../../../../styles/breakpoints" as *;

.filtros-container {
  display: flex;
  flex-wrap: wrap;
  gap: $space-15;
  margin-bottom: $space-15;
}

mat-form-field {
  width: 200px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

mat-table {
  min-width: 100%;
}

mat-header-cell,
mat-cell {
  min-width: 110px;
  padding: 8px;
  box-sizing: border-box;
}
