<!-- Filtros -->
<div class="filtros-container">
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select
      [value]="statusFilter"
      (selectionChange)="onStatusChange($event.value)"
    >
      <mat-option *ngFor="let s of statusOptions" [value]="s">{{
        s
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Número Modial</mat-label>
    <input matInput [(ngModel)]="numeroModialFilter" (input)="applyFilter()" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Número Nota</mat-label>
    <input matInput [(ngModel)]="numeroNotaFilter" (input)="applyFilter()" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Número Único</mat-label>
    <input matInput [(ngModel)]="numeroUnicoFilter" (input)="applyFilter()" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo Movimento</mat-label>
    <mat-select (selectionChange)="onTipoMovimentoChange($event.value)">
      <mat-option [value]="undefined">Todos</mat-option>
      <mat-option *ngFor="let t of tipoMovimentoOptions" [value]="t">{{
        t
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo Operação</mat-label>
    <mat-select (selectionChange)="onTipoOperacaoChange($event.value)">
      <mat-option [value]="undefined">Todos</mat-option>
      <mat-option *ngFor="let t of tipoOperacaoOptions" [value]="t">{{
        t
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo Entrega</mat-label>
    <mat-select (selectionChange)="onTipoEntregaChange($event.value)">
      <mat-option [value]="undefined">Todos</mat-option>
      <mat-option *ngFor="let t of tipoEntregaOptions" [value]="t">{{
        t
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Parceiro</mat-label>
    <input matInput [formControl]="parceiroCtrl" [matAutocomplete]="auto" />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayParceiro.bind(this)"
      (optionSelected)="onParceiroSelected($event.option.value)"
    >
      <mat-option *ngFor="let p of filteredParceiros$ | async" [value]="p">
        {{ p.nome }} - {{ p.cpfCnpj }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data Início</mat-label>
    <input
      matInput
      [matDatepicker]="pickerInicio"
      [(ngModel)]="dataInicioFilter"
      (dateChange)="applyFilter()"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="pickerInicio"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerInicio></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data Fim</mat-label>
    <input
      matInput
      [matDatepicker]="pickerFim"
      [(ngModel)]="dataFimFilter"
      (dateChange)="applyFilter()"
    />
    <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
    <mat-datepicker #pickerFim></mat-datepicker>
  </mat-form-field>
</div>

<!-- Tabela -->
<div class="table-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes" sticky>
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let e">
        <div class="acoes-container">
          <button
            mat-icon-button
            matTooltip="Separar"
            matTooltipClass="tooltip"
            (click)="onSeparar(e)"
          >
            <mat-icon fontSet="material-symbols-outlined">
              deployed_code
            </mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Imprimir Etiqueta"
            matTooltipClass="tooltip"
            (click)="onImprimirEtiqueta(e)"
          >
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status"
      ><mat-header-cell *matHeaderCellDef>Status</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.status }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="idEmpresa"
      ><mat-header-cell *matHeaderCellDef>Empresa</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.idEmpresa }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="numeroModial"
      ><mat-header-cell *matHeaderCellDef>Número Modial</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.numeroModial
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="numeroNota"
      ><mat-header-cell *matHeaderCellDef>Número Nota</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.numeroNota }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="numeroUnico"
      ><mat-header-cell *matHeaderCellDef>Número Único</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.numeroUnico
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="dataMovimento"
      ><mat-header-cell *matHeaderCellDef>Data Movimento</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.dataMovimento | date: "short"
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="tipoMovimento"
      ><mat-header-cell *matHeaderCellDef>Tipo Movimento</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.tipoMovimento
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="tipoOperacao"
      ><mat-header-cell *matHeaderCellDef>Tipo Operação</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.tipoOperacao
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="tipoEntrega"
      ><mat-header-cell *matHeaderCellDef>Tipo Entrega</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.tipoEntrega
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeParceiro"
      ><mat-header-cell *matHeaderCellDef>Parceiro</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.nomeParceiro
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="numeroParceiro"
      ><mat-header-cell *matHeaderCellDef>Número Parceiro</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.numeroParceiro
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="numeroVendedor"
      ><mat-header-cell *matHeaderCellDef>Número Vendedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.numeroVendedor
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="valorNota"
      ><mat-header-cell *matHeaderCellDef>Valor Nota</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.valorNota }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="volume"
      ><mat-header-cell *matHeaderCellDef>Volume</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.volume }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="idUsuarioInclusao"
      ><mat-header-cell *matHeaderCellDef>Usuário Inclusão</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.idUsuarioInclusao
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="idUsuarioAlteracao"
      ><mat-header-cell *matHeaderCellDef>Usuário Alteração</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.idUsuarioAlteracao
      }}</mat-cell></ng-container
    >

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
