@use "../../../../../styles/spacing" as *;
@use "../../../../../styles/typography" as *;
@use "../../../../../styles/breakpoints" as *;

.filtro-container {
  display: flex;
  gap: $space-15;
  flex-wrap: wrap;
  margin-bottom: $space-15;
}

mat-form-field {
  width: 200px;
}
