@use "../styles/breakpoints";
@use "../styles/spacing";
@use "../styles/typography";

.table-container {
  width: 100%;
  overflow-x: auto;
  display: block;
  border-top: spacing.$space-4 solid var(--color-primary);

  .linha-selecionada {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }

  mat-table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;

    &.all-on-same-line {
      min-width: max-content;
    }
  }

  mat-header-row,
  mat-row {
    display: table-row;
  }

  mat-header-cell,
  mat-cell {
    display: table-cell;
    padding: spacing.$space-9;
    min-width: 111px;
    box-sizing: border-box;
    font-size: typography.$font-sm;
    vertical-align: middle;
  }

  mat-header-cell {
    color: var(--color-primary);
  }

  .mat-column-acoes {
    min-width: max-content;
    width: auto;

    mat-cell,
    mat-header-cell {
      white-space: nowrap;
    }

    .acoes-container {
      display: flex;
      gap: spacing.$space-9;

      button {
        padding: 0;
        width: typography.$font-3xl !important;
        height: typography.$font-3xl !important;
        display: flex;
        cursor: pointer;
        background-color: transparent;
        border: none;

        .mat-icon {
          font-size: typography.$font-2xl;
        }
      }
    }
  }
}
