<!-- Filtros -->
<div class="filtros-container grid" [formGroup]="filters">
  <mat-form-field appearance="outline" class="xs-12 sm-12 md-6 lg-6 xl-4">
    <mat-label>Nome/E-mail</mat-label>
    <input matInput formControlName="nomeEmail" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Perfil</mat-label>
    <mat-select formControlName="perfil">
      <mat-option *ngFor="let perfil of listPerfil" [value]="perfil.codigo">
        {{ perfil.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of listStatus" [value]="status.codigo">
        {{ status.descricao }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="warn"
    (click)="onLimparCampos()"
    class="xs-12 sm-6 md-3 lg-3 xl-2"
  >
    Limpar campos
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="applyFilter()"
    class="xs-12 sm-6 md-3 lg-3 xl-2"
  >
    Pesquisar
  </button>
</div>

<!-- Tabela -->
<div class="table-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes" sticky>
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let e">
        <div class="acoes-container">
          <span
            matTooltip="{{ e.ativo ? 'Inativar' : 'Ativar' }}"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button mat-icon-button (click)="atualizarStatus(e)">
              <mat-icon *ngIf="!e.ativo" fontSet="material-symbols-outlined">
                toggle_on
              </mat-icon>
              <mat-icon *ngIf="e.ativo" fontSet="material-symbols-outlined">
                toggle_off
              </mat-icon>
            </button>
          </span>

          <span
            matTooltip="Redefinir Senha"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button mat-icon-button (click)="redefinirAtivarLote([e.email])">
              <mat-icon fontSet="material-symbols-outlined"> replay </mat-icon>
            </button>
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef>Código Usuário</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.codigo }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="foto">
      <mat-header-cell *matHeaderCellDef>Foto</mat-header-cell>
      <mat-cell *matCellDef="let data">
        <div class="image-container">
          <img
            *ngIf="data.foto"
            [src]="'data:image/png;base64,' + data.foto"
            alt="Foto do usuário"
          />
          <mat-icon *ngIf="!data.foto" fontSet="material-symbols-outlined"
            >hide_image</mat-icon
          >
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="perfil">
      <mat-header-cell *matHeaderCellDef>Perfil</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.perfil }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ativo">
      <mat-header-cell *matHeaderCellDef>Ativo</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.ativo ? "Ativo" : "Inativo"
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricaoStatus">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data.descricaoStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="criadoEm">
      <mat-header-cell *matHeaderCellDef>Criado Em</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.criadoEm | date: "dd/MM/yyyy"
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="atualizadoEm">
      <mat-header-cell *matHeaderCellDef>Atualizado Em</mat-header-cell>
      <mat-cell *matCellDef="let data">{{
        data.atualizadoEm | date: "dd/MM/yyyy"
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="total"
    [pageSize]="perPage"
    [pageSizeOptions]="[5, 10, 15, 25, 50]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
