<form class="login-page" [formGroup]="form" (ngSubmit)="login()">
  <div class="login-form">
    <div class="form-wrapper">
      <h1>Login</h1>
      <p class="subtitle">Acesso à fila de conferência</p>

      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="usuario" />
        <mat-error *ngIf="form.controls.usuario.invalid">
          Usuário obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha" />
        <mat-error *ngIf="form.controls.senha.invalid">
          Senha obrigatória
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || loading"
      >
        {{ loading ? "Entrando..." : "Entrar" }}
      </button>

      <button
        mat-button
        type="button"
        class="link-esqueci"
        (click)="abrirModalEsqueciSenha()"
      >
        Esqueci minha senha
      </button>
    </div>
  </div>

  <div class="login-image">
    <div class="overlay">
      <p>Agilidade, controle e precisão na expedição</p>
    </div>
  </div>
</form>

<!-- TEMPLATE: MODAL ESQUECI MINHA SENHA -->
<ng-template #modalEsqueciSenha let-fechar="fechar">
  <div class="modal-esqueci-senha">
    <mat-icon fontSet="material-symbols-outlined">lock_reset</mat-icon>

    <h4>Recuperar senha</h4>

    <p>Informe seu e-mail para receber as instruções</p>

    <form [formGroup]="formEsqueciSenha">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />

        <mat-error *ngIf="formEsqueciSenha.controls.email.hasError('required')">
          Email obrigatório
        </mat-error>

        <mat-error *ngIf="formEsqueciSenha.controls.email.hasError('email')">
          Email inválido
        </mat-error>
      </mat-form-field>

      <p *ngIf="erroEsqueciSenha" class="erro">
        {{ erroEsqueciSenha }}
      </p>

      <div class="grid buttons-container">
        <button
          mat-raised-button
          color="warn"
          type="button"
          class="xs-12 sm-6"
          (click)="fechar()"
        >
          Cancelar
        </button>

        <button
          mat-raised-button
          color="primary"
          class="xs-12 sm-6"
          [disabled]="formEsqueciSenha.invalid || loadingEsqueciSenha"
          (click)="enviarEsqueciSenha(fechar)"
        >
          {{ loadingEsqueciSenha ? "Enviando..." : "Enviar" }}
        </button>
      </div>
    </form>
  </div>
</ng-template>
