@use "../../../styles/spacing" as *;
@use "../../../styles/typography" as *;
@use "../../../styles/breakpoints" as *;

.dados-gerais {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  padding: $space-9 $space-9;
  margin-bottom: $space-24;

  & > div {
    display: flex;
    align-items: center;

    mat-icon {
      padding-right: $space-9;
    }

    p {
      font-weight: 300;

      span {
        font-weight: normal;
      }
    }
  }
}

h3 {
  font-size: $font-lg;
  margin-bottom: $space-9;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-warn);

  img {
    height: 65px;
  }
}

.form-conferencia {
  margin-bottom: $space-24;
}

.itens-pedidos {
  margin-bottom: $space-24;
}
