<!-- Dados Gerais -->
<section class="dados-gerais" *ngIf="dadosGerais">
  <div class="info-item">
    <mat-icon fontSet="material-symbols-outlined">receipt</mat-icon>
    <p><span>Nº Nota</span>: {{ dadosGerais.numeroNota }}</p>
  </div>
  <div class="info-item">
    <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
    <p>
      <span>Vendedor</span>: {{ dadosGerais.idVendedor }} -
      {{ dadosGerais.nomeVendedor }}
    </p>
  </div>
  <div class="info-item">
    <mat-icon fontSet="material-symbols-outlined">handshake</mat-icon>
    <p>
      <span>Parceiro</span>: {{ dadosGerais.idParceiro }} -
      {{ dadosGerais.nomeParceiro }}
    </p>
  </div>
</section>

<!-- FORM -->
<form [formGroup]="form" class="form-conferencia grid">
  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Código de Barras/ID do produto</mat-label>
    <input
      matInput
      formControlName="identificador"
      (keyup.enter)="onIdentificadorInserido()"
      (blur)="onIdentificadorInserido()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Quantidade</mat-label>
    <input
      matInput
      type="number"
      formControlName="quantidade"
      (blur)="onBlurQuantidade()"
    />

    <mat-error *ngIf="quantidadeCtrl?.hasError('menorQueZero')">
      Quantidade deve ser maior que zero
    </mat-error>

    <mat-error *ngIf="quantidadeCtrl?.hasError('maiorQueDisponivel')">
      A quantidade máxima restante para este item no pedido é
      {{ quantidadeCtrl?.getError("maiorQueDisponivel")?.max }}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    class="xs-12 sm-6 md-3 lg-3 xl-2"
    [class.identificado]="produtoIdentificado"
  >
    <mat-label>Controle</mat-label>

    <mat-select
      formControlName="controle"
      (selectionChange)="onControleChange($event.value)"
      [disabled]="controlesDisponiveis.length === 0"
    >
      <mat-option
        *ngFor="let controle of controlesDisponiveis"
        [value]="controle === 'SEM_CONTROLE' ? '' : controle"
      >
        {{ controle === "SEM_CONTROLE" ? "Sem controle" : controle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="onConferir()"
    [disabled]="
      !itemSelecionado || !quantidadeCtrl?.value || quantidadeCtrl?.invalid
    "
    class="xs-12 sm-6 md-3 lg-3 xl-2"
  >
    Conferir
  </button>
</form>

<!-- TABELA PEDIDOS -->
<h3>Itens do Pedido</h3>
<div class="table-container itens-pedidos">
  <mat-table [dataSource]="dataSourcePedidos" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes" sticky>
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let e">
        <div class="acoes-container">
          <span
            matTooltip="Conferir"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button mat-icon-button (click)="onIniciarConferencia(e)">
              <mat-icon fontSet="material-symbols-outlined">search</mat-icon>
            </button>
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="imagem"
      ><mat-header-cell *matHeaderCellDef style="text-align: center"
        >Imagem</mat-header-cell
      ><mat-cell *matCellDef="let e"
        ><div class="image-container">
          <img
            *ngIf="e.imagem"
            [src]="'data:image/png;base64,' + e.imagem"
            alt="Imagem do produto"
          />
          <mat-icon *ngIf="!e.imagem" fontSet="material-symbols-outlined"
            >hide_image</mat-icon
          >
        </div>
      </mat-cell></ng-container
    >

    <ng-container matColumnDef="idProduto"
      ><mat-header-cell *matHeaderCellDef>ID Produto</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.idProduto }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="codigoBarras"
      ><mat-header-cell *matHeaderCellDef>Código de Barras</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.codigoBarras?.join(", ")
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeProduto"
      ><mat-header-cell *matHeaderCellDef>Produto</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.nomeProduto
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="quantidade"
      ><mat-header-cell *matHeaderCellDef>Quantidade Base</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.quantidade + " " + e.unidade
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="quantidadeConvertida"
      ><mat-header-cell *matHeaderCellDef>Quantidade Convertida</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.quantidadeConvertida + " UN"
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="idMarca"
      ><mat-header-cell *matHeaderCellDef>ID Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.idMarca }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeMarca"
      ><mat-header-cell *matHeaderCellDef>Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.nomeMarca }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="idFornecedor"
      ><mat-header-cell *matHeaderCellDef>ID Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.idFornecedor
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeFornecedor"
      ><mat-header-cell *matHeaderCellDef>Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.nomeFornecedor
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="controle"
      ><mat-header-cell *matHeaderCellDef>Controle</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.controle }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="complemento"
      ><mat-header-cell *matHeaderCellDef>Complemento</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.complemento
      }}</mat-cell></ng-container
    >

    <mat-header-row *matHeaderRowDef="displayedColumnsPedidos"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumnsPedidos"
      [class.linha-selecionada]="row === itemSelecionado"
    ></mat-row>
  </mat-table>
</div>

<!-- TABELA CONFERIDOS -->
<h3>Itens Conferidos</h3>
<div class="table-container itens-conferidos">
  <mat-table [dataSource]="dataSourceConferidos" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes" sticky>
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let e">
        <div class="acoes-container">
          <span
            matTooltip="Desfazer"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button mat-icon-button (click)="onDevolverItemConferido(e)">
              <mat-icon fontSet="material-symbols-outlined">replay</mat-icon>
            </button>
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="imagem"
      ><mat-header-cell *matHeaderCellDef style="text-align: center"
        >Imagem</mat-header-cell
      ><mat-cell *matCellDef="let e"
        ><div class="image-container">
          <img
            *ngIf="e.imagem"
            [src]="'data:image/png;base64,' + e.imagem"
            alt="Imagem do produto"
          />
          <mat-icon *ngIf="!e.imagem" fontSet="material-symbols-outlined"
            >hide_image</mat-icon
          >
        </div>
      </mat-cell></ng-container
    >

    <ng-container matColumnDef="idProduto"
      ><mat-header-cell *matHeaderCellDef>ID Produto</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.idProduto }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="codigoBarras"
      ><mat-header-cell *matHeaderCellDef>Código de Barras</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.codigoBarras?.join(", ")
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeProduto"
      ><mat-header-cell *matHeaderCellDef>Produto</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.nomeProduto
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="quantidade"
      ><mat-header-cell *matHeaderCellDef>Quantidade Base</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.quantidade + " " + e.unidade
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="quantidadeConvertida"
      ><mat-header-cell *matHeaderCellDef>Quantidade Convertida</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.quantidadeConvertida + " UN"
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="idMarca"
      ><mat-header-cell *matHeaderCellDef>ID Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.idMarca }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeMarca"
      ><mat-header-cell *matHeaderCellDef>Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.nomeMarca }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="idFornecedor"
      ><mat-header-cell *matHeaderCellDef>ID Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.idFornecedor
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeFornecedor"
      ><mat-header-cell *matHeaderCellDef>Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.nomeFornecedor
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="controle"
      ><mat-header-cell *matHeaderCellDef>Controle</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.controle }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="complemento"
      ><mat-header-cell *matHeaderCellDef>Complemento</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.complemento
      }}</mat-cell></ng-container
    >

    <mat-header-row
      *matHeaderRowDef="displayedColumnsConferidos"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumnsConferidos"
    ></mat-row>
  </mat-table>
</div>

<!-- VOLUMES -->
<section class="volumes" *ngIf="dadosGerais.codigoTipoMovimento === 'P'">
  <h3>Volumes</h3>
  <div class="grid">
    <div
      class="volume-card xs-12 sm-6 md-4 lg-3 xl-2"
      *ngFor="let volume of volumes"
      [class.ativo]="volume.ativo && !conferenciaFinalizada"
      (click)="selecionarVolume(volume)"
    >
      <div class="volume-header" [class.inativo]="!volume.ativo">
        <div class="buttons-container">
          <button
            mat-icon-button
            *ngIf="volume.itens.length > 0"
            (click)="removerVolume(volume); $event.stopPropagation()"
            matTooltip="Remover volume"
          >
            <mat-icon fontSet="material-symbols-outlined">remove</mat-icon>
          </button>

          <span>Volume {{ volume.numeroVolume }}</span>

          <button
            mat-icon-button
            *ngIf="volume.ativo && aindaHaItensParaConferir"
            (click)="encerrarVolume(volume); $event.stopPropagation()"
            [disabled]="existeVolumeVazio()"
            matTooltip="Encerrar volume"
          >
            <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
          </button>
        </div>

        <div class="dimensoes-container" (click)="$event.stopPropagation()">
          <mat-form-field appearance="fill">
            <mat-label>Largura</mat-label>
            <input
              matInput
              type="number"
              placeholder="L"
              [(ngModel)]="volume.largura"
              (blur)="salvarDimensoes(volume)"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Comprimento</mat-label>
            <input
              matInput
              type="number"
              placeholder="C"
              [(ngModel)]="volume.comprimento"
              (blur)="salvarDimensoes(volume)"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Altura</mat-label>
            <input
              matInput
              type="number"
              placeholder="A"
              [(ngModel)]="volume.altura"
              (blur)="salvarDimensoes(volume)"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Peso</mat-label>
            <input
              matInput
              type="number"
              placeholder="Kg"
              [(ngModel)]="volume.peso"
              (blur)="salvarDimensoes(volume)"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="volume-item" *ngFor="let item of volume.itens">
        <div class="image-container">
          <img
            *ngIf="item.imagem"
            [src]="'data:image/png;base64,' + item.imagem"
            alt="Imagem do produto"
          />
          <mat-icon *ngIf="!item.imagem" fontSet="material-symbols-outlined"
            >hide_image</mat-icon
          >
        </div>

        <div class="volume-info">
          <strong>{{ item.descricaoProduto }}</strong>
          <div class="quantidade">
            = {{ item.quantidade }} {{ item.unidade }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="confirmar-conferencia grid">
  <button
    mat-raised-button
    color="primary"
    class="xs-12 sm-6 md-3 lg-3 xl-2"
    *ngIf="deveMostrarBotaoConfirmar"
    [disabled]="!podeConfirmarConferencia"
    (click)="finalizarConferencia()"
  >
    Confirmar Conferência
  </button>
</section>

<!-- TEMPLATE DO MODAL: ITEM NÃO ENCONTRADO -->
<ng-template #modalItemNaoEncontrado let-fechar="fechar">
  <div class="modal-item-nao-encontrado">
    <mat-icon fontSet="material-symbols-outlined">error</mat-icon>
    <h4>Item não encontrado</h4>
    <p>
      O código de barras informado
      <strong>{{ form.get("codigoBarras")?.value }}</strong>
      não pertence a este pedido.
    </p>
  </div>
</ng-template>

<!-- TEMPLATE DO MODAL: CONFERENCIA FINALIZADA -->
<ng-template #modalConferenciaFinalizada let-fechar="fechar">
  <div class="modal-conferencia-finalizada">
    <mat-icon fontSet="material-symbols-outlined">check_circle</mat-icon>
    <h4>Conferência Finalizada</h4>
    <div class="grid buttons-container">
      <button
        mat-raised-button
        color="warn"
        class="xs-12 sm-6"
        (click)="voltarParaFila()"
      >
        Sair
      </button>
      <button
        mat-raised-button
        color="primary"
        class="xs-12 sm-6"
        (click)="imprimirEtiquetas()"
      >
        Imprimir Etiquetas
      </button>
    </div>
  </div>
</ng-template>
