<!-- Dados Gerais -->
<section class="dados-gerais" *ngIf="dadosGerais">
  <div class="info-item">
    <mat-icon fontSet="material-symbols-outlined">receipt</mat-icon>
    <p><span>Nº Nota</span>: {{ numeroNota }}</p>
  </div>
  <div class="info-item">
    <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
    <p>
      <span>Vendedor</span>: ({{ dadosGerais.vendedor.id }}) -
      {{ dadosGerais.vendedor.nome }}
    </p>
  </div>
  <div class="info-item">
    <mat-icon fontSet="material-symbols-outlined">handshake</mat-icon>
    <p>
      <span>Parceiro</span>: ({{ dadosGerais.parceiro.id }}) -
      {{ dadosGerais.parceiro.nome }}
    </p>
  </div>
</section>

<!-- FORM -->
<form [formGroup]="form" class="form-conferencia grid">
  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Código de Barras</mat-label>
    <input
      matInput
      formControlName="codigoBarras"
      (keyup.enter)="onCodigoInserido()"
      (blur)="onCodigoInserido()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Quantidade</mat-label>
    <input
      matInput
      type="number"
      formControlName="quantidade"
      (blur)="onBlurQuantidade()"
    />

    <mat-error *ngIf="quantidadeCtrl?.hasError('menorQueZero')">
      Quantidade deve ser maior que zero
    </mat-error>

    <mat-error *ngIf="quantidadeCtrl?.hasError('maiorQueDisponivel')">
      A quantidade máxima restante para este item no pedido é
      {{ quantidadeCtrl?.getError("maiorQueDisponivel")?.max }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="xs-12 sm-6 md-3 lg-3 xl-2">
    <mat-label>Controle</mat-label>
    <input matInput formControlName="controle" readonly />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="onConferir()"
    [disabled]="
      !itemSelecionado || !quantidadeCtrl?.value || quantidadeCtrl?.invalid
    "
    class="xs-12 sm-6 md-3 lg-3 xl-2"
  >
    Conferir
  </button>
</form>

<!-- TABELA PEDIDOS -->
<h3>Itens do Pedido</h3>
<div class="table-container itens-pedidos">
  <mat-table [dataSource]="dataSourcePedidos" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes" sticky>
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let e">
        <div class="acoes-container">
          <span
            matTooltip="Conferir"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button mat-icon-button (click)="onIniciarConferencia(e)">
              <mat-icon fontSet="material-symbols-outlined">search</mat-icon>
            </button>
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="imagem"
      ><mat-header-cell *matHeaderCellDef style="text-align: center"
        >Imagem</mat-header-cell
      ><mat-cell *matCellDef="let e"
        ><div class="image-container">
          <img *ngIf="e.imagem" [src]="e.imagem" alt="Imagem do produto" />
          <mat-icon *ngIf="!e.imagem" fontSet="material-symbols-outlined"
            >hide_image</mat-icon
          >
        </div>
      </mat-cell></ng-container
    >

    <ng-container matColumnDef="idProduto"
      ><mat-header-cell *matHeaderCellDef>ID Produto</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.idProduto }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="codigoBarras"
      ><mat-header-cell *matHeaderCellDef>Código de Barras</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.codigoBarras
      }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="nomeProduto"
      ><mat-header-cell *matHeaderCellDef>Produto</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.nomeProduto
      }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="quantidade"
      ><mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.quantidade }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="unidade"
      ><mat-header-cell *matHeaderCellDef>Unidade</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.unidade }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="idMarca"
      ><mat-header-cell *matHeaderCellDef>ID Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.idMarca }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeMarca"
      ><mat-header-cell *matHeaderCellDef>Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.nomeMarca }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="idFornecedor"
      ><mat-header-cell *matHeaderCellDef>ID Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.idFornecedor
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeFornecedor"
      ><mat-header-cell *matHeaderCellDef>Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.nomeFornecedor
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="controle"
      ><mat-header-cell *matHeaderCellDef>Controle</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.controle }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="complemento"
      ><mat-header-cell *matHeaderCellDef>Complemento</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.complemento
      }}</mat-cell></ng-container
    >

    <mat-header-row *matHeaderRowDef="displayedColumnsPedidos"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumnsPedidos"
      [class.linha-selecionada]="row === itemSelecionado"
    ></mat-row>
  </mat-table>
</div>

<!-- TABELA CONFERIDOS -->
<h3>Itens Conferidos</h3>
<div class="table-container itens-conferidos">
  <mat-table [dataSource]="dataSourceConferidos" class="mat-elevation-z8">
    <ng-container matColumnDef="imagem"
      ><mat-header-cell *matHeaderCellDef style="text-align: center"
        >Imagem</mat-header-cell
      ><mat-cell *matCellDef="let e"
        ><div class="image-container">
          <img *ngIf="e.imagem" [src]="e.imagem" alt="Imagem do produto" />
          <mat-icon *ngIf="!e.imagem" fontSet="material-symbols-outlined"
            >hide_image</mat-icon
          >
        </div>
      </mat-cell></ng-container
    >

    <ng-container matColumnDef="idProduto"
      ><mat-header-cell *matHeaderCellDef>ID Produto</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.idProduto }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="codigoBarras"
      ><mat-header-cell *matHeaderCellDef>Código de Barras</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.codigoBarras
      }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="nomeProduto"
      ><mat-header-cell *matHeaderCellDef>Produto</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.nomeProduto
      }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="quantidade"
      ><mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.quantidade }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="unidade"
      ><mat-header-cell *matHeaderCellDef>Unidade</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.unidade }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="idMarca"
      ><mat-header-cell *matHeaderCellDef>ID Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.idMarca }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeMarca"
      ><mat-header-cell *matHeaderCellDef>Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.nomeMarca }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="idFornecedor"
      ><mat-header-cell *matHeaderCellDef>ID Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.idFornecedor
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="nomeFornecedor"
      ><mat-header-cell *matHeaderCellDef>Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.nomeFornecedor
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="controle"
      ><mat-header-cell *matHeaderCellDef>Controle</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.controle }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="complemento"
      ><mat-header-cell *matHeaderCellDef>Complemento</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.complemento
      }}</mat-cell></ng-container
    >

    <mat-header-row
      *matHeaderRowDef="displayedColumnsConferidos"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumnsConferidos"
    ></mat-row>
  </mat-table>
</div>

<!-- TEMPLATE DO MODAL: ITEM NÃO ENCONTRADO -->
<ng-template #modalItemNaoEncontrado let-fechar="fechar">
  <div class="modal-item-nao-encontrado">
    <mat-icon fontSet="material-symbols-outlined">error</mat-icon>
    <h4>Item não encontrado</h4>
    <p>
      O código de barras informado
      <strong>{{ form.get("codigoBarras")?.value }}</strong>
      não pertence a este pedido.
    </p>
  </div>
</ng-template>

<!-- TEMPLATE DO MODAL: INICIAR CUBAGEM -->
<ng-template #modalIniciarCubagemTpl let-fechar="fechar">
  <div class="modal-iniciar-cubagem">
    <mat-icon fontSet="material-symbols-outlined" class="icone">
      inventory_2
    </mat-icon>

    <h4>Conferência finalizada</h4>
    <p>Todos os itens do pedido foram conferidos com sucesso!</p>
    <p>Deseja iniciar a cubagem agora?</p>

    <div class="grid">
      <button
        mat-raised-button
        color="warn"
        (click)="fechar()"
        class="xs-12 sm-6"
      >
        Fechar
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="iniciarCubagem(); fechar()"
        class="xs-12 sm-6"
      >
        Iniciar cubagem
      </button>
    </div>
  </div>
</ng-template>
