<!-- Dados Gerais -->
<div class="container-dados-gerais" *ngIf="dadosGerais">
  <div class="info-item">
    <mat-icon fontSet="material-symbols-outlined">receipt</mat-icon>
    <p><span>Nº Nota</span>: {{ numeroNota }}</p>
  </div>
  <div class="info-item">
    <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
    <p>
      <span>Vendedor</span>: ({{ dadosGerais.vendedor.id }}) -
      {{ dadosGerais.vendedor.nome }}
    </p>
  </div>
  <div class="info-item">
    <mat-icon fontSet="material-symbols-outlined">handshake</mat-icon>
    <p>
      <span>Parceiro</span>: ({{ dadosGerais.parceiro.id }}) -
      {{ dadosGerais.parceiro.nome }}
    </p>
  </div>
</div>

<!-- Tabela -->
<h3>Itens do Pedido</h3>
<div class="table-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="acoes" sticky>
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let e">
        <div class="acoes-container">
          <span
            matTooltip="{{ tooltipIniciarConferencia(e) }}"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
          >
            <button
              mat-icon-button
              (click)="onIniciarConferencia(e)"
              [disabled]="e.status !== false"
            >
              <mat-icon fontSet="material-symbols-outlined"> search </mat-icon>
            </button>
          </span>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="imagem"
      ><mat-header-cell *matHeaderCellDef style="text-align: center"
        >Imagem</mat-header-cell
      ><mat-cell *matCellDef="let e"
        ><div class="image-container">
          <img
            *ngIf="e.produto.imagem"
            [src]="e.produto.imagem"
            alt="Imagem do produto"
          />
          <mat-icon
            *ngIf="!e.produto.imagem"
            fontSet="material-symbols-outlined"
            >hide_image</mat-icon
          >
        </div>
      </mat-cell></ng-container
    >

    <ng-container matColumnDef="produto.id"
      ><mat-header-cell *matHeaderCellDef>ID</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.produto.id }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="produto.nome"
      ><mat-header-cell *matHeaderCellDef>Nome</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.produto.nome
      }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="medidas.quantidade"
      ><mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.medidas.quantidade
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="medidas.unidade"
      ><mat-header-cell *matHeaderCellDef>Unidade</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.medidas.unidade
      }}</mat-cell></ng-container
    >

    <ng-container matColumnDef="produto.marca.id"
      ><mat-header-cell *matHeaderCellDef>ID Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.produto.marca.id
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="produto.marca.nome"
      ><mat-header-cell *matHeaderCellDef>Marca</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.produto.marca.nome
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="fornecedor.id"
      ><mat-header-cell *matHeaderCellDef>ID Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.fornecedor.id
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="fornecedor.nome"
      ><mat-header-cell *matHeaderCellDef>Fornecedor</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.fornecedor.nome
      }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="controle"
      ><mat-header-cell *matHeaderCellDef>Controle</mat-header-cell
      ><mat-cell *matCellDef="let e">{{ e.controle }}</mat-cell></ng-container
    >
    <ng-container matColumnDef="complemento"
      ><mat-header-cell *matHeaderCellDef>Complemento</mat-header-cell
      ><mat-cell *matCellDef="let e">{{
        e.complemento
      }}</mat-cell></ng-container
    >

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
