@use "styles/colors";
@use "styles/spacing";
@use "styles/typography";
@use "styles/breakpoints";

html,
body {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  color: var(--color-text-primary);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
